@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fefefe;
  font-family: 'Open Sans', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
}

h1 {
  font-weight: 700;
}

#heading {
  margin-bottom: 20rem;
  font-weight: 400;
}

#show-key {
  padding: 5rem;
  margin: 1rem 0 0.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 1);
}

#key-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

#input {
  display: none;
}

.card-title {
  text-align: center;
  color: #fff;
  background-color: #204ecf;
  padding: 0.4rem 6rem;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 5px 5px 0 0;
}

.card-body {
  text-align: center;
  color: #000;
  background-color: inherit;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 7rem;
  align-self: center;
  width: 350px;
  height: 250px;
  box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 1);
}

.last-element {
  font-size: 0.9rem;
  text-align: left;
  padding: 1rem 2rem 2rem 7.5rem;
  font-weight: 500;
  line-height: 1.3;
}

.location {
  padding: 6rem;
}

#footer {
  text-align: center;
  color: #fff;
  background-color: #444;
  padding: 1rem 0;
  margin-top: 1rem;
  background-color: #204ecf;
}

#footer a {
  text-decoration: none;
  color: #ccc;
}

@media (max-width: 912px) {
  #show-key {
    display: none;
  }

  #key-info {
    display: none;
  }

  #input {
    display: block;
    width: 300px;
    height: 50px;
    outline: 1px solid #ccc;
    margin: 1rem 0;
    font-size: 16px !important;
  }

  #input:focus {
    outline: 1px solid #204ecf;
  }

  .card-body {
    margin-bottom: 1rem;
  }

  #footer {
    display: none;
  }
}
